<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.rajatdixit.ca"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><b>BLOG</b></a></li> <!--{{ site.baseurl }}blog.html --> 
        <li><a href="{{ site.baseurl }}projects.html"><b>PROJECTS</b></a></li>
        <li><a href="rajatdixit_resume_april2017_condensed.pdf" target="_blank"><b>RESUME</b></a></li>
      </ul>
    </div>
  </div>
</nav>
