<section id="projects">
<div class="container">
  <h3>Engineering Projects of Rajat Dixit</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	    	<h5>
			<i class="fa fa-ship"></i>&nbsp;&nbsp;<strong><a href="https://ubcsailbot.org/team-roster/">UBC Sailbot - Electrical</a></strong>
			Worked on building an autonomous boat that sailed across the Atlantic Ocean. My job was to test, research and program
			different types of electrical devices. Worked on VHF antennas for boat-to-boat communication. Wrote and tested
			microcontroller code in C for the Torxis i00600 high torque servo rudder steering of the boat. Wrote drivers for
			the software team to be further used by them for on board software algorithms.
			Represented UBC Sailbot at the Unmanned Systems Canada Conference and the International Robotic Sailing Regatta.  	
			Industry project management tools like Slack, Asana and Trello were used for task management. 
			Electrical design models were verified using SolidWorks and Altium. 
		</h5><br>
	    	
	    	<div class="slideshow-container">
  			<div class="mySlides fade">
    				<div class="numbertext">1 / 4</div>
				<div style="display: flex; justify-content: center;">
    				<img src="{{ site.baseurl }}static/img/sailbot_img_1.jpg" height="400" width="600">
				</div>
    				<div class="text">Caption Text</div>
  			</div>

  			<div class="mySlides fade">
    				<div class="numbertext">2 / 4</div>
				<div style="display: flex; justify-content: center;">
    				<img src="{{ site.baseurl }}static/img/sailbot_img_2.png" height="400" width="600">
				</div>
    				<div class="text">Caption Two</div>
  			</div>

  			<div class="mySlides fade">
    				<div class="numbertext">3 / 4</div>
				<div style="display: flex; justify-content: center;">
    				<img src="{{ site.baseurl }}static/img/sailbot_img_3.png" height="400" width="600">
				</div>
    				<div class="text">Caption Three</div>
  			</div>
			
			<div class="mySlides fade">
    				<div class="numbertext">4 / 4</div>
				<div style="display: flex; justify-content: center;">
    				<img src="{{ site.baseurl }}static/img/sailbot_img_4.jpg" height="400" width="600">
				</div>
    				<div class="text">Caption Four</div>
  			</div>
		</div>
		<br>

		<div style="text-align:center">
  			<span class="dot"></span> 
  			<span class="dot"></span> 
  			<span class="dot"></span>
			<span class="dot"></span>
		</div>
	    	
		<h5>
			<i class="fa fa-cogs"></i>&nbsp;&nbsp;<strong><a href="http://modenasmarthome.com/">Bluetooth IOT - Smart Switch Modena</a></strong>
			Worked with the client and a team of 5 on a smart BLE switch. 
			Analysed the competetive landscape, did the technological assesment and set the product roadmap.  
			Designed basic skeleton iOS app layout for simple on/off and slider light dimming communications. 
			Lead Electrical and PCB designer for state of the art flexible PCB’s that housed all the electronics.
			Design models were simulated in MATLAB and verified using SolidWorks and Altium.  
		</h5><br>
	    	<h5>
			<i class="fa fa-picture-o"></i>&nbsp;&nbsp;<strong><a href="rajatdixit_33415118_ELEC221_project.pdf" target="_blank">Analyzing ICE Patterns - Research Paper - MATLAB</a></strong>
			Worked on a individual research paper software project analyzing change in ice patterns on the Antarctic circle. 
			Used MATLAB to run different image transformations on video frames pulled from a satellite video image data source. 
			Ran image processing fourier transforms and software tuned low pass filters to get data off the area under the ice covered region. 
			Used IMG processing toolbox in MATLAB. Design models were verified in MATLAB and cross checked with data plotted in MS Excel. 
			Tuned my design to be within 5% error rate compared to MS Excel models. 
			  
		</h5><br>
		<h5>
			<i class="fa fa-cogs"></i>&nbsp;&nbsp;<strong>3 Axis Robotic Arm</strong>
			Worked with a team of 3 on a 3 DOF (Degree of Freedom) Axis Robotic Arm.
			Designed and built the high power electronics that powered the arm's three 2A motors. 
			PCB designer, proper industry standard techniques were followed. 
			Good heatsinking techniques were used to keep the circuit at optimum operating temperature.  
			Design models were simulated in MATLAB and verified using SolidWorks and Altium. 
		</h5><br>
    		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>FPGA VCR Controller</strong>
			Used the Altera FPGA board to simulate and program a VCR controller in VHDL (Verilog Hardware Description Language). 
			Used embedded C and RTL analysis to code the logic in Quartus Logic Design Software. 
			As a project bonus, integrated an LCD display driver to show visual interaction when the VCR is 
			playing/paused/recording etc.	
		</h5><br>
		<h5>
			<i class="fa fa-cogs"></i>&nbsp;&nbsp;<strong>Automatic Capacitive Soda Dispenser</strong>
			Worked with a team of 5 to design, develop and program an automatic soda dispenser.
			Designed and built a circuit that measured the capacitance of a cup and the temperature of the soda in it. 
			Programmed a servo to automatically close and open a valve to allow the soda to flow 
			according to the capactiance of S/M/L cup. 
			Circuit was built on an Altera FPGA board using a 8052 soft-core processor. 
			The circuit used a LM335 TMP sensor and a HS-422 high torque servo.  
			All schematics were verified using SolidWorks and Altium. 
		</h5><br>
		<h5>
			<i class="fa fa-cogs"></i>&nbsp;&nbsp;<strong>Wireless Electromagnetic Robot</strong>
			Worked with a team of 5 to design, develop and program an electromagnetic tether robot using embedded C. 
			Built a transmistter and a receiver using LC circuit theory and tuned it match frequencies for optimum robot to wireless 
			remote communication. 
			Optimized the circuit's LC values to operate at a distance greater than 2 meters.  
			Built and programmed a simple 2WD robot that integrated the transmitters and acted as an object follower. 
			All schematics and designs were verified using SolidWorks. 	
		</h5><br>
    </div>
  </div>
</div>
</section>
